 /* body {
            background-color: #f8f9fa;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        } */
/* body {
      background-color: #f8f9fa;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    } */

    .container-fluid {
      margin-top: 30px;
    }

    table.dataTable thead th {
      background-color: #e9ecef;
    }

    .action-icons i {
      cursor: pointer;
      margin-right: 10px;
    }

    table.dataTable th,
    table.dataTable td {
      padding: 12px !important;
      vertical-align: middle;
    }





    /* Fix spacing between text and sort icons */
      table.dataTable thead th {
        position: relative;
        padding-right: 25px !important; /* space for icons */
      }

      table.dataTable thead .sorting:before,
      table.dataTable thead .sorting:after,
      table.dataTable thead .sorting_asc:before,
      table.dataTable thead .sorting_asc:after,
      table.dataTable thead .sorting_desc:before,
      table.dataTable thead .sorting_desc:after {
        bottom: 50%; /* keep them closer */
        transform: translateY(50%); /* center align */
        margin: 0 px !important; /* reduce gap between ▲ and ▼ */
        opacity: 0.6; /* lighter for inactive */
        font-size: 0.7rem; /* smaller arrows */
        padding: 2.8px !important;
      }

      Highlight active arrow table.dataTable thead .sorting_asc:before,
      table.dataTable thead .sorting_desc:after {
        opacity: 1 !important; /* darker for active arrow */
      }